<h1>Sign Up below</h1>
<style>
    h5{
        color: red;
    }
</style>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<form method="post" action="register">
    {% csrf_token %}
    <p>username: </p>
    <input type='text' name="username"><br>
    <p>Email: </p>
    <input type="email" name="email"><br>
    <p>Password: </p>
    <input type="password" name="password"><br>
    <p>Confirm Password: </p>
    <input type="password" name="password2"><br>
    <input type="submit" name Sign Up>
</form>